
<html>
<head>
	<title></title>

	
</head>
<body>

	<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome To Pixeleyes</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/858076/pexels-photo-858076.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
        <div class="caption left-align">
          <h3>Manage Your Instagram</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/248533/pexels-photo-248533.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
        <div class="caption right-align">
          <h3>How much you are Engaged</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/759960/pexels-photo-759960.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"> <!-- random image -->
        <div class="caption center-align">
          <h3>Login For more</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
      




	<a href="https://api.instagram.com/oauth/authorize/?client_id=238b5101f4fe40b1a3ab8de53d3d0b60&redirect_uri=http://localhost:3000/callback&response_type=code&scope=public_content+follower_list+relationships+likes+comments
" class="fa fa-instagram">Login</a> 

</body>




<script type="text/javascript">





</script>
</html>


