
<html>
<head>
	<title></title>
</head>
<body>

	<h1><a href="https://api.instagram.com/oauth/authorize/?client_id=238b5101f4fe40b1a3ab8de53d3d0b60&redirect_uri=http://localhost:3000/callback&response_type=code&scope=public_content+follower_list+relationships+likes+comments
">login with Instagram</a> </h1>

</body>
</html>


