.fa-instagram {
  background: #125688;
  color: white;
  margin: 10px;
}

.slider{
  margin-top: 10px;
}

.fa {
  padding: 20px;
  position: static;
 
  width:40vw;
  text-align: center;
  text-decoration: none;
 
 
}

.fa-instagram:before {
    margin: 10px;
    content: "\f16d";


}


a.fa.fa-instagram{
	-webkit-box-shadow: 5px 8px 34px 0px rgba(0,0,0,0.72); 
box-shadow: 5px 8px 34px 0px rgba(0,0,0,0.72);

	position: relative;
	 margin-top: 0vh;
  margin-left: 30vw;
	font-size: 50px;
}

a.fa.fa-instagram:hover{
	color: white;
	-webkit-box-shadow: 5px 8px 21px 0px rgba(0,0,0,0.72); 
box-shadow: 5px 8px 21px 0px rgba(0,0,0,0.72);
	text-decoration: none;
}